.custom-navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.custom-navbar li {
    flex: auto;
}

.custom-navbar li a, .custom-navbar li a:visited {
    text-decoration: none;
    color: inherit;
}

.custom-navbar li a:hover, .custom-navbar li a:active {
    text-decoration: none;
    color: #32A9D8;
}

.custom-navbar a.nav-link.active {
    color: #32A9D8;
}
